{% extends 'base.html.twig' %}

{% block title 'Administration' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Administration</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary-subtle text-center">
                        <h2>Groupes de figures</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <a href="{{ path('app_admin_group_dashboard') }}">Les groupes de figures</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary-subtle text-center">
                        <h2>Utilisateurs</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <a href="">Les utilisateurs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
