<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% set successFlashes = app.flashes('success') %}
        {% set errorFlashes = app.flashes('error') %}
        {% if app.user %}
            Bonjour
        {% endif %}
        {% for message in successFlashes %}
            <div class="flex justify-content-center align-items-center message container mt-3">
                <div class="alert alert-success">{{ message|trans }}</div>
            </div>
        {% endfor %}
        {% for message in errorFlashes %}
            <div class="flex justify-content-center align-items-center message container mt-3">
                <div class="alert alert-danger">{{ message|trans }}</div>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
