{% extends 'base.html.twig' %}

{% block title %}
    {{ "Edit"|trans }} {{ tricks }}
{% endblock %}

{% block body %}
    <div class="container-lg">
        <div class="text-center mt-5 mb-5">
            <h1 class="text-black">{{ block('title') }}</h1>
        </div>
        {{ include('tricks/_form.html.twig', { "button_label" : "Edit", "return_link": path('app_tricks_show', {slug: tricks.slug})}) }}
    </div>
{% endblock %}

